<h4> User Details </h4> 
<div class="well">
Username: <%= @user.username %>
<br />
Member since: <%= display_time(@user.created_at) %> 
<br />
</div>

<%= render 'shared/posts', object: @user.posts %>

<%= render 'shared/comments', object: @user %>

<!-- object is @post.comments for post#show -->
