<% if @post.comments.any? %>
  <h5>Comments:</h5>
    <% @post.comments.each do |c| %>
      <div>
        <%= c.body %> 
        <%= c.created_at %>
      </div>
    <% end %>
<% end %>

<!-- "by " + c.creator.username +  -->
<!-- can't use display_time function -->