<% if @post.comments.any? %>
  <h5>Comments:</h5>
    <% @post.comments.each do |c| %>
      <div class='well span8'>
        <%= c.body %> 
        <br />
        <%= " by " + c.creator.username.to_s + " on " + display_time(c.created_at).to_s %>
      </div>
    <% end %>
<% end %>

<!-- "by " + c.creator.username +  -->
<!-- can't use display_time function -->