<h4>Welcome!</h4>

<table>
  <tr>
    <th>Title</th>
    <th>URL</th>
  </tr>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.url %></td>
    <td><%= link_to '(edit)', edit_post_path(post) %></td>
  </tr>
<% end %>
</table>