<h4>New Category</h4>

<% render 'shared/validation', {object: @category} %>

<%= form_for @category do |f| %>
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name %>
  <br />
  <%= f.submit 'Create Category', class: 'btn btn-primary' %>
<% end %>